<form>
    <div class="alert alert-warning" ng-show="errorMessage">
        <strong>Warning!</strong> {{errorMessage}}
    </div>
    <fieldset class="form-group">
        <label for="formName">Name</label>
        <input type="text" class="form-control" id="formName" placeholder="Name"
               ng-model="editRecord.name">
    </fieldset>
    <fieldset class="form-group">
        <label for="formDescription">Description</label>
        <textarea type="text" class="form-control" id="formDescription" placeholder="Description"
                  ng-model="editRecord.description">
       </textarea>
    </fieldset>
    <fieldset class="form-group">
        <label class="col-xs-2" for="formPrice">Price</label>
        <input class="col-xs-2" type="text" class="form-control" id="formPrice" placeholder="Another input"
               ng-model="editRecord.price">
        <label class="col-xs-3" for="categorySelect">Category</label>
        <select class="col-xs-5" id="categorySelect" ng-options="category.id as category.name for category in Categories"
                ng-model="editRecord.categoryID"></select>
    </fieldset>
    <div id="direct_upload"
         ngf-drop="uploadFiles($files)"
         ngf-drag-over-class="dragOverClass($event)"
         ng-model="files"
         ng-multiple="true">
        <form>
            <div class="form_line">
                <label>Image:</label>
                <div class="form_controls">
                    <div class="upload_button_holder">
                        <div href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload"
                             resetOnClick="true">Upload
                        </div>
                    </div>

                </div>
            </div>
            <img class="productThumbAdmin" ng-src="{{editRecord.imageURL}}">
        </form>

    </div>
    <button ng-click="save()">Save</button>
    <button ng-click="cancel()">Cancel</button>
</form>